
{% if section.settings.enabletext %}
<div>{{ section.settings.textid }}</div>
{% endif %}
{% schema %}
  {
    "name": "custom Page Text",
   "settings": [
          {
            "type": "text",
            "id": "textid",
            "default": "Quick links",
            "label": "hannan is here"
          }, {
            "type": "checkbox",
            "id": "enabletext",
            "label": "Enable your text",
            "default": true
            
          }
        ]
  }
{% endschema %}
