
{% if section.settings.myimage %}
<div>
  <img src="{{ section.settings.myimage | img_url: "600x"}}" />
  </div>
{% endif %}
{% schema %}
  {
    "name": "Section",
   "settings": [
          {
            "type": "checkbox",
            "id": "view_text",
            "default": false,
            "label": "Enable Text"
          }, {
            "type": "text",
            "id": "custom_text",
            "label": "Enable your text"            
          },
     {
       "type": "image_picker",
       "id": "myimage",
       "label":"select image"
     }
        ],
    "presets":[
      {
              "name": "My custom Text",
      "category":"text"
      }
    ]
  }
{% endschema %}
