{%- if block.settings.menu != blank -%}
  <ul class="footer-block__details-content list-unstyled">
    {%- for link in block.settings.menu.links -%}
      <li>
        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
          {{ link.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.footer.name",
    "blocks": [
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Quick links",
            "label": "t:sections.footer.blocks.link_list.settings.heading.label"
          }, {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }
        ]
      }
    ]
  }
{% endschema %}
